@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;

    src: url('../res/fonts/Nunito-Medium.ttf') format('truetype')
}

:root {
    --dark-color: #333;
    --light-color: #ddd;

    --main-font: 'Nunito';
}

body {
    background-color: var(--dark-color);
}
